<li [ngClass]="{'list-group-item':true,'list-group-item-success': loveIts>0 ,
                'list-group-item-danger':loveIts<0 }">
  <p [ngStyle]="{float:'right',color:'grey',textDecoration:'italic',fontWeight:'bold'}">{{createdAt | date:'M/d/yy, h:mm a'}}</p>
  <h4><strong>{{myTitle}}</strong></h4>
  <p>{{myContent}}</p>
  <button class="btn btn-success" (click)="loveIts=loveIts+1">I love it!!!</button>  &nbsp; &nbsp;
  <button class="btn btn-danger" (click)="loveIts=loveIts-1">I don't love it!!!</button>
</li>
